@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Roboto';
      src: url('/font/Roboto/Roboto-Medium.ttf');
    }
}

.active {
   border-bottom: 2px solid white;
}